@import url(font-family: 'Source Sans Pro', sans-serif;);

body {
    max-width: 800px;
    font-family: "Source Sans Pro", helvitica, sans-serif;
    margin:10px auto;
    font-size: 18px;
    line-height: 1.4;
}
header img {
    max-width: 110px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px #999;
    float: right;
    margin-top: 8px;
    margin-right: 10px;
}
#assignments {
    padding: 10px;
}
header {
    font-size: 22px;
}
header, footer {
    background-color: #00829c;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 3px;
}
a {
    color: black;
}
a:hover {
    color:blue;
}